.card {
    display: flex;
    justify-content: center;
    background-color: rgb(206, 206, 206);
    height: auto;
    width: 60vw;
    margin: 2rem;
}

.container {
    display: flex;
    justify-content: center;
}

.container_types {
    display: flex;
    justify-content: center;
}

.text {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    font-weight: 100;
    color: #000000ec;
    position: relative;
    padding: 1vh;
    margin: 0 1vh 2vh 1vh;
    background-color: aqua;
}

.text_h4 {
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    font-weight: 300;
    color: #000000ec;
    position: absolute;
    margin-top: 2vh;
}

.image_pokemon {
    position: relative;
    height: 22vh;
    width: auto;
    margin: 2vh 0 -2vh 0;
}