@media (max-width: 600px) {
  .downloading {
    width: 26vw;
    height: auto;
    margin: 5rem 3rem 3rem 3rem;
    visibility: visible;
    animation: tap 3s linear infinite;
  }

  .card {
    justify-content: center;
    width: 22rem;
    height: auto;
    padding: 1vw;
    margin: 2rem;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.75);
    border: 16px solid #fcff40;
  }

  .background {
    height: 100vh;
    background-image: url('../../assets/forest2.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .container_types {
    display: flex;
    justify-content: center;
  }

  .container_stats {
    margin: 2vh 0 2vh 0;
  }

  
  .text {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    font-weight: 100;
    color: #000000ec;
    position: relative;
    padding: 0.5vh;
  }
  
  .text_h1 {
    text-decoration: none;
    font-family: "Press Start 2P", cursive;
    font-size: clamp(2.5rem, 2.5vw, 8rem);
    color: #000000ec;
    padding: 2vh 0 2vh 0;
    background-image: radial-gradient(circle, #feffc4 0%, #fceccd 100%);

  }
  
  .text_types {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    font-weight: 100;
    color: #000000ec;
    position: relative;
    padding: 1vh;
    margin: 0 1vh 2vh 1vh;
    background-color: #ffffffbb;
    border-radius: 2px;
  }
  
  .text_h4 {
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    font-weight: 300;
    color: #000000ec;
    position: absolute;
    margin: 1vh;
  }
  .text_hp {
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    font-weight: 300;
    color: #000000ec;
    position: absolute;
    margin: 1vh 1vh 1vh 26vh;
  }
  .container_hw {
    background-color: #fcff40;
    margin: 0 1.8vh 1vh 1.8vh;
    justify-content: right;
    border-radius: 2px;
  }
  .image_pokemon {
    position: relative;
    height: 22vh;
    width: auto;
    margin: 2vh 0 -2vh 0;
    border-radius: 3px;
  }
  
  .container_image {
    margin: 12px 12px 6px 12px;
    border: 8px solid #fcff40;
    border-radius: 5px;
    margin-top: 3.5vh;
  }
  
  @keyframes tap {
    0% {
      width: 26vw;
    }
    50% {
      width: 32vw;
    }
    100% {
      width: 26vw;
    }
  }
}

@media (min-width: 600px) {
  .downloading {
    width: 6vw;
    margin: 4rem 3rem 3rem 3rem;
    visibility: visible;
    animation: tap 3s linear infinite;
  }

  .card {
    justify-content: center;
    width: 22rem;
    height: auto;
    padding: 1vw;
    margin-top: 10vh;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.75);
    border: 16px solid #fcff40;
  }

  .background {
    height: 100vh;
    background-image: url('../../assets/forest2.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .container_types {
    display: flex;
    justify-content: center;
  }
  
  .text {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    font-weight: 100;
    color: #000000ec;
    position: relative;
    padding: 0.5vh;
  }
  
  .text_h1 {
    text-decoration: none;
    font-family: "Press Start 2P", cursive;
    font-size: clamp(2.5rem, 2.5vw, 8rem);
    color: #000000ec;
    padding: 2vh 0 2vh 0;
    background-image: radial-gradient(circle, #feffc4 0%, #fceccd 100%);
  }
  
  .text_types {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    font-weight: 100;
    color: #000000ec;
    position: relative;
    padding: 1vh;
    margin: 0 1vh 2vh 1vh;
    background-color: #ffffffbb;
    border-radius: 2px;
  }

  .container_stats {
    margin-top: 4vh;
  }

  .text_h4 {
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    font-weight: 300;
    color: #000000ec;
    position: absolute;
    margin: 0.5vh 1vh 1vh 1.5vh;
  }
  .text_hp {
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    font-weight: 300;
    color: #000000ec;
    position: absolute;
    margin: 0.2rem 1rem 1rem 14rem;
  }
  .container_hw {
    background-color: #fcff40;
    margin: 0 1.8vh 1vh 1.8vh;
    justify-content: right;
    border-radius: 2px;
  }
  .image_pokemon {
    position: relative;
    height: 22vh;
    width: auto;
    margin: 2vh 0 -2vh 0;
    border-radius: 3px;
  }
  
  .container_image {
    margin: 12px 12px 6px 12px;
    border: 8px solid #fcff40;
    border-radius: 5px;
    margin-top: 3.5vh;
  }
  
  @keyframes tap {
    0% {
      width: 26vw;
    }
    50% {
      width: 32vw;
    }
    100% {
      width: 26vw;
    }
  }
}


