.background {
    height: 100vh;
    background-image: linear-gradient(to bottom, #fab005 5%, #ff8787 95%);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}