@media (max-width: 600px) {
  .inputs {
    width: 80vw;
    margin: 0 1vh 0 1vh;
  }
  .select {
    width: 80vw;
    margin: 2vh;
    font-family: "Press Start 2P", cursive;
  }
}

@media (min-width: 600px) {
  .inputs {
    width: 60vw;
    margin: 0 1vh 0 1vh;
  }
  .select {
    width: 60vw;
    margin: 2vh;
    font-family: "Press Start 2P", cursive;
  }
}

.background {
  min-height: 100vh;
  height: auto;
  background-image: radial-gradient(circle, #feffc4 0%, #fceccd 100%);
  justify-content: flex-start;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_h1 {
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: clamp(2.5rem, 2.5vw, 8rem);
  color: #000000ec;
  padding: 2vh 0 2vh 0;
}

.text_h3 {
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  color: #000000ec;
  padding: 2vh 0 2vh 0;
}

.text {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  color: #000000ec;
  padding-right: 0.6vh;
  margin-top: 1.2vh;
}

.btn_text {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  color: #000000ec;
  padding: 0.6vh;
  margin: 0.6vh;
}

.btn_submit {
  font-family: "Press Start 2P", cursive;
  font-weight: 100;
  font-size: 12px;
  background-color: rgb(50, 200, 75);
  color: rgb(255, 255, 255);
  padding: 1vh;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: inset -4px -4px 0 rgb(50, 160, 75);
}

.btn_type {
  padding: 1vh;
  margin-top: 1vh;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  border-radius: 3px;
}

.btn_submit:hover {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  background-color: rgb(50, 190, 75);
  color: rgb(245, 245, 245);
  padding: 1vh;

  border: 3px solid rgb(0, 0, 0);
  box-shadow: inset -5px -5px 0 rgb(50, 150, 75);
  cursor: pointer;
}

.danger {
  font-size: 14px;
  color: red;
}
