@media (max-width: 600px) {
  .input {
    padding: 0.4vh 0 0.4vh 0;
    width: 46vw;
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    background-color: #ffffffec;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
  }

  .btn_search {
    text-decoration: none;
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.4vh;
    margin-top: 0.2vh;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: inset -3px -3px 0 rgb(221, 221, 221);
  }
}

@media (min-width: 600px) {
  .input {
    padding: 0.4vh 0 0.4vh 0;
    width: 24vw;
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    background-color: #ffffffec;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
  }

  .btn_search {
    text-decoration: none;
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.4vh;
    margin-top: 0.2vh;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: inset -3px -3px 0 rgb(221, 221, 221);
  }
}

.text_h1 {
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: 26px;
  color: #000000ec;
  padding-top: 1vh;
}

.btn_search:hover {
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  background-color: rgb(245, 245, 245);
  color: rgb(17, 17, 17);
  padding: 0.4vh;
  margin-top: 0.2vh;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: inset -4px -4px 0 rgb(210, 210, 210);
  cursor: pointer;
}

.container {
  padding: 1vh;
}
